* {
  margin: 0%;
  border: 0ch;
}

html {
  
  overflow: hidden;
}
h1 {
  font-size: 350%;
  margin-left: 5%;
  color: rgb(255, 240, 242);
  position: resolution;
}
h2 {
  color: whitesmoke;
  font-size: small;
  font-weight: 500;
  margin-left: 5%;
  letter-spacing: 1.5px;
}

.main {
  padding-bottom: 70%;
  background-image: url(/pics/background/bg2.png);
  background-size: contain;
  background-position: top;
  position: relative;
  
}

.main h1 {
  text-align: justify;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 25%;
  padding-top: 15%;
}

.main h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}

#avatar {
  width: 20%;
  position: absolute;
  top: 10%;
  right: 10%;
  display: inline-block;
}

.planets {
  width: 200px;
  position: absolute;
  right: 10%;
  top: 55%;
  fill: violet;
}
.midbar {
  background-color: rgb(255, 255, 204);
  padding-bottom: 50%;
  margin-top: 50%;
}
